img {
    width: 50px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 50px;
}

.conteudo h1 {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
}

.conteudo p {
    font-size: 12pt;
    align-items: center;
    justify-content: center;
}

.calculadora {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}



.calculadora input {
    margin-top: 30px;
}

.calculadora button {
    margin-top: 30px;
    margin-bottom: 50px;
}

.infos {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}